In [1]:
import pandas as pd
import numpy as np

In [35]:
file = "c:/git/HomeProject/csvs/amazon.csv"

# Create DataFrame object
df = pd.read_csv(file, encoding="latin1")

In [3]:
df.head()

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01

In [4]:
df.tail()

      year      state     month  number        date
6449  2012  Tocantins  Dezembro   128.0  2012-01-01
6450  2013  Tocantins  Dezembro    85.0  2013-01-01
6451  2014  Tocantins  Dezembro   223.0  2014-01-01
6452  2015  Tocantins  Dezembro   373.0  2015-01-01
6453  2016  Tocantins  Dezembro   119.0  2016-01-01

In [36]:
df.groupby('date').count()
# It seems like the 'date' columns is not so useful.. 
# We should combine year and month columns to create a monthly sum of number of fires per state

            year  state  month  number
date
1998-01-01   324    324    324     324
1999-01-01   324    324    324     324
2000-01-01   324    324    324     324
2001-01-01   324    324    324     324
2002-01-01   324    324    324     324
2003-01-01   324    324    324     324
2004-01-01   324    324    324     324
2005-01-01   324    324    324     324
2006-01-01   324    324    324     324
2007-01-01   324    324    324     324
2008-01-01   324    324    324     324
2009-01-01   324    324    324     324
2010-01-01   324    324    324     324
2011-01-01   324    324    324     324
2012-01-01   324    324    324     324
2013-01-01   324    324    324     324
2014-01-01   324    324    324     324
2015-01-01   324    324    324     324
2016-01-01   324    324    324     324
2017-01-01   298    298    298     298

In [37]:
df['Datetime'] = pd.to_datetime(df[['year', 'month']].assign(Day=1))
# It won't work, because we have portuguese values in month column..

ValueError: Unable to parse string "Janeiro" at position 0

In [47]:
def convert_months(month):
    """
    1. Step: Translate month data from Portuguese to English.
    2. Step: Create integer object from input data.
    3. Step: return date object.
    """
    if str(month)[:3] == 'Jan':
        new_month = 1
    elif str(month)[:3] == 'Fev':
        new_month = 2
    elif str(month)[:3] == 'Mar':
        new_month = 3
    elif str(month)[:3] == 'Abr':
        new_month = 4
    elif str(month)[:3] == 'Mai':
        new_month = 5
    elif str(month)[:3] == 'Jun':
        new_month = 6
    elif str(month)[:3] == 'Jul':
        new_month = 7
    elif str(month)[:3] == 'Ago':
        new_month = 8
    elif str(month)[:3] == 'Set':
        new_month = 9
    elif str(month)[:3] == 'Out':
        new_month = 10
    elif str(month)[:3] == 'Nov':
        new_month = 11
    elif str(month)[:3] == 'Dez':
        new_month = 12
    else:
        return print("Not convertable month data!")
    return new_month

In [48]:
df.head()

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01

In [51]:
month_list_en = []
month_list_pt = list(df.month)
for mon in month_list_pt:
    month_list_en.append(convert_months(mon))
df['month_en'] = month_list_en

In [52]:
df.head()
# Now, we have a column with integer values representing months.

   year state    month  number        date  month_en
0  1998  Acre  Janeiro     0.0  1998-01-01         1
1  1999  Acre  Janeiro     0.0  1999-01-01         1
2  2000  Acre  Janeiro     0.0  2000-01-01         1
3  2001  Acre  Janeiro     0.0  2001-01-01         1
4  2002  Acre  Janeiro     0.0  2002-01-01         1

In [65]:
df.month_en.describe()

count    6454.000000
mean        6.476139
std         3.441522
min         1.000000
25%         3.000000
50%         6.000000
75%         9.000000
max        12.000000
Name: month_en, dtype: float64

In [67]:
df['date'] = pd.to_datetime(df[['year', 'month_en']].assign(Day=1))

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [month] is missing

In [34]:
df[df.month_en != 1].head()

    year state      month  number        date  Months   Datetime
20  1998  Acre  Fevereiro     0.0  1998-01-01       2 1998-02-01
21  1999  Acre  Fevereiro     0.0  1999-01-01       2 1999-02-01
22  2000  Acre  Fevereiro     0.0  2000-01-01       2 2000-02-01
23  2001  Acre  Fevereiro     0.0  2001-01-01       2 2001-02-01
24  2002  Acre  Fevereiro     1.0  2002-01-01       2 2002-02-01

In [ ]:
#Let's group by on the new date column

In [24]:
# Resample the dataframe
time_format = '%Y-%m-%d'
datetime_series = pd.to_datetime(df.loc[:,'date'],format=time_format)